<h1 style="text-align:center; color:green;">CM 4 Activity's</h1>

### Activity _2

In [ ]:
def print_with_indentation(string):
    indented_string = ""
    for i in string:
        indented_string += " " + i + " "
    print(indented_string)

# Example usage:
my_string = "Hello, World!"
print_with_indentation(my_string)

 H  e  l  l  o  ,     W  o  r  l  d  !

### Activity _3

In [ ]:
a = 10
name = "Padam Singh"
print('Int',int(a))
print('Float',float(a))
print(type(name))

Int 10
Float 10.0
<class 'str'>

### Activity _4

In [ ]:
numbers = [1,2,3]
strings = ["Hello","World"] # declare and initialize list
names = ["John", "Eric", "Jessica"]
second_name = names[1]
print(numbers) # print the values of list
print(strings)
print("The second name on the names list is", second_name)

[1, 2, 3]
['Hello', 'World']
The second name on the names list is Eric

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Activity _5

In [5]:
num1 = int(input('Enter the first number: '))
num2 = int(input('Enter the second number: '))

Addition = num1 + num2
Subtraction = num1 - num2
Division = num1 / num2
Modulus = num1 % num2
FloorDivision = num1 // num2
Multiplication  = num1 * num2
Exponentiation = num1 ** num2
print('Addition' ,Addition)
print('Subtraction' ,Subtraction)
print('Division' ,Division)
print('Modulus' ,Modulus)
print('Floor Division',FloorDivision)
print('Multiplication ',Multiplication)
print('Exponentiation ',Exponentiation )

### Activity _6

In [ ]:
x = 'Welcome '
y = 'python '
print ((x+y)*5)

Welcome python Welcome python Welcome python Welcome python Welcome python

### Activity _7

In [ ]:
my_list = [1, 2, 3]
print('Max value in list',max(my_list)) # max() finds the maximum among values
print('Min value in list',min(my_list)) # min() finds the minimum among values

Max value in list 3
Min value in list 1

### Activity _8

In [ ]:
num = int(input('Enter a Number: '))
if num%2==0:
    print(f'{num} is Even')
else:
    print(f'{num} is Odd')

Enter a Number: 6345
6345 is Odd

### Activity _9

In [ ]:
def histogram( items ): # create function
    for n in items: # for loop through values of n
        output = ''
        times = n
        while( times > 0 ): # check condition of counter
            output += '*'
            times = times - 1 # decrement the counter
        print(output) # print the output
histogram([2, 3, 6, 5])

**
***
******
*****

In [ ]:
my_list= [5,1,3,8,4]
for i in my_list:
    while i>0:
        print('*'*i)
        break

*****
*
***
********
****

In [ ]:
my_list = [5,2,1,8]
for i in my_list:
    print('*'*i)

*****
**
*
********

### Activity _10

In [ ]:
def gcd(x, y): # create function gcd()
    gcd = 1
    if x % y == 0:
        return y
    for k in range(int(y / 2), 0, -1): # for loop from y/2 to 0 increment -1
        if x % k == 0 and y % k == 0:
            gcd = k
            break
    return gcd
print(gcd(12, 17)) # print the gcd value
print(gcd(4, 6))

1
2

In [15]:
a=int(input("first value:"))
new_a=[]
for i in range(1,a+1):
   if a%i==0:
      new_a.append(i)
b=int(input("second value:"))
new_b=[]
for k in range(1,b+1):
   if b%k==0:
      new_b.append(k)
same= set(new_a) & set(new_b)
gcd= max(same)
print(a,"Divisable by",new_a)
print(b,"Divisable by",new_b)
print("Greatest Comman Divisor",gcd)

first value:10
second value:22
10 Divisable by [1, 2, 5, 10]
22 Divisable by [1, 2, 11, 22]
Greatest Comman Divisor 2

### Activity _11

In [ ]:
def lcm(x,y):
    if x>y:
        z=x
    else:
        z=y
    while(True):
        if((z%x==0) and (z%y==0)):
            lcm=z
            break
        z+=1
    return (f"Lcm of {x} and {y} is : {lcm}")
x = int(input("Insert 1st value :"))
y = int(input("Insert 2nd value :"))
lcm(x,y)

Insert 1st value :20
Insert 2nd value :21

'Lcm of 20 and 21 is : 420'

In [2]:
a=int(input("first value:"))
new_a=[]
for i in range(1,a+1):
   if a%i==0:
      new_a.append(i)
b=int(input("second value:"))
new_b=[]
for k in range(1,b+1):
   if b%k==0:
      new_b.append(k)
same= set(new_a) & set(new_b)

gcd= max(same)
multi = a*b
lcm = multi/gcd
print(a,"Divisable by",new_a)
print(b,"Divisable by",new_b)
print("Greatest Comman Divisor",lcm)

first value:10
second value:20
10 Divisable by [1, 2, 5, 10]
20 Divisable by [1, 2, 4, 5, 10, 20]
Greatest Comman Divisor 20.0

### Activity _12

In [ ]:
my_dict = {1:2, 3:4, 4:3, 2:1, 0:0}

In [ ]:
item = sorted(my_dict.items())
print(f"Dictionary Ascending order by value {item}")

item.reverse()
print(f"Dictionary Descending order by value {item}")

Dictionary Ascending order by value [(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]
Dictionary Descending order by value [(4, 3), (3, 4), (2, 1), (1, 2), (0, 0)]

### Activity _13

In [ ]:
my_tuple = (1,2,3, 'a', 'b', 'True', True, ['apple','banana'], ('one', 'two'))
my_tuple

(1, 2, 3, 'a', 'b', 'True', True, ['apple', 'banana'], ('one', 'two'))

### Activity _14

In [ ]:
my_tuple = (1,2,3, 'a', 'b', 'True', True)
my_tuple

(1, 2, 3, 'a', 'b', 'True', True)

### Activity _15

In [ ]:
my_set = set()
print(my_set)

my_set1 = set([1,2,3])
print(my_set1)

set()
{1, 2, 3}

### Activity _16

In [ ]:
my_set = set()
print(my_set)
my_set.add('Red')
my_set

set()

{'Red'}

### Activity _17

In [ ]:
my_set = set([1,2,3,5,6,7,8,9,10])
print(f"Maximum value of set: {min(my_set)}")
print(f"Minimum value of set: {max(my_set)}")

Maximum value of set: 1
Minimum value of set: 10

### Activity _18

In [ ]:
my_set = {'one', 'two', 3, 4, True, None}
len(my_set)

6

### Activity _19

In [ ]:
Fahrenheit = float(input("Enter a temperature in Fahrenheit: "))

Celsius = (Fahrenheit - 32) * 5.0/9.0
print ("Temperature:", Fahrenheit, "Fahrenheit = ", Celsius, " C")


Celsius = float(input("Enter a temperature in Celsius: "))

Fahrenheit = 9.0/5.0 * Celsius + 32
print ("Temperature:", Celsius, "Celsius = ", Fahrenheit, " F")

Enter a temperature in Fahrenheit: 15
Temperature: 15.0 Fahrenheit =  -9.444444444444445  C
Enter a temperature in Celsius: 15
Temperature: 15.0 Celsius =  59.0  F

### Activity _20

In [ ]:
n = int(input("How many terms?: "))
for i in range(n):
  print(i+1)

How many terms?: 5
1
2
3
4
5

In [ ]:
n = int(input("How many terms?: "))
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

# Generate the first 10 numbers in the Fibonacci series

for i in range(n):
  print(fibonacci(i))

How many terms?: 10
0
1
1
2
3
5
8
13
21
34

### Activity _21

In [ ]:
n = int(input('Insert You Number: '))
def fc(n):
    factorial = 1
    for i in range(1, n+1 ):
        factorial *= i
    return factorial
    
result = fc(n)
print("The factorial of", n, "is", result)

Insert You Number: 5
The factorial of 5 is 120

### Activity _22

In [ ]:
def palindrome(n):
    if n==n[::-1]:
        print(f"Given value {n} is palindrome.")
    else:
        print(f"Given value {n} is not palindrome.")
palindrome("mom")
palindrome("dad")
palindrome("meggm")

Given value mom is palindrome.
Given value dad is palindrome.
Given value meggm is not palindrome.

### Activity _23

In [ ]:
my_word = "Hello! My name is You"
my_word[::-1]

'uoY si eman yM !olleH'

In [ ]:
word = str(input("Enter you word for reverse"))
print(word[::])

### Activity _24

In [ ]:
import math

class circle():
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        return math.pi*(self.radius**2)
    def perimeter(self):
        return 2*math.pi*self.radius
    
value_of_circle= int(input("Enter radius of circle: "))

obj=circle(value_of_circle)
print(round(obj.area(),2))
print(round(obj.perimeter()))

Enter radius of circle: 21
1385.44
132

### Activity _25

In [13]:
#bubble sort
def bubblesort(my_list):
    n = len(my_list)
    
#     swapped = False
    
    for i in range(n-1):
        for j in range(0, n-i-1):
            
            if my_list[j] > my_list[j+1]:
                swapped = True
                my_list[j], my_list[j+1] = my_list[j+1], my_list[j]
                
        if not swapped:
            return
        
my_list = [5,1,6,4,8,7,9,3,2,10]
bubblesort(my_list)
print("Sorted array is :")
for i in range(len(my_list)):
    print(my_list[i], end= " ")

Sorted array is :
1 2 3 4 5 6 7 8 9 10

In [12]:
def bubblesort(my_list):
    for i in range(len(my_list)-1,0,-1):
        for j in range(i):
            if my_list[j] > my_list[j+1]:
                swapped = True
                my_list[j], my_list[j+1] = my_list[j+1], my_list[j]
                
        if not swapped:
            return

my_list = [9,5,6,1,2]
bubblesort(my_list)
print(f"Bubblesort: {my_list}")

Bubblesort: [1, 2, 5, 6, 9]

In [1]:
def sort(num):
    for i in range(len(num)-1, 0, -1):
        for j in range(i):
            if (num[j]>num[j+1]):
                temp=num[j]
                num[j]=num[j+1]
                num[j+1]=temp
num=[4,7,3,9,2]
sort(num)
print(num)

[2, 3, 4, 7, 9]

In [2]:
def a(n):
    for i in range(len(n)-1,0,-1):
        for j in range(i):
            if n[j+1]>n[j]:
                temp=n[j+1]
                n[j+1]=n[j]
                n[j]=temp
n=[4,7,3,9,2]
a(n)
print(n)

[9, 7, 4, 3, 2]

In [6]:
def a(n):
    for i in range(len(n)-1,0,-1):
        for j in range(i):
            if n[j+1]>n[j]:
                s = True
                n[j],n[j+1]=n[j+1],n[j]
                
n=[4,7,3,9,2]
a(n)
print(n)

[9, 7, 4, 3, 2]

### Activity _26

In [ ]:
def a(n):
    if n == 3:
        pass
    if n==2:
        print("N is greater then 2")
a(3)

In [9]:
for i in range(1,10,1):
    print(i, end= " ")

1 2 3 4 5 6 7 8 9

In [11]:
for i in range(20,10,-2):
    print(i, end= " ")

20 18 16 14 12

In [15]:
my_dict = list([])
lista= dict()

In [16]:
type(lista)

dict