In [9]:
fruit = ['apple', 'mango', 'banana']
print('apple' in fruit)

True

In [10]:
print('orange' not in fruit)

True

In [14]:
for fruit in ['apple', 'mango', 'banana'] :
    print('i like :',fruit)

i like : apple
i like : mango
i like : banana

In [17]:
my_list = ['black', 'white', 'sky blue']
for i in my_list:
    print(f"My fav. color is : {i}")

My fav. color is : black
My fav. color is : white
My fav. color is : sky blue

In [18]:
my_list

['black', 'white', 'sky blue']

In [27]:
my_tuple = (1, 2, 3, 'a', 'b', True, '')

In [28]:
len(my_tuple)

7

In [31]:
print(type(my_tuple))

<class 'tuple'>

# Create  a tuple and access by the indexing no.
my_tuple = (1, 2, 3, 'a', 'b', True, '')

In [33]:
my_tuple[:]

(1, 2, 3, 'a', 'b', True, '')

In [34]:
my_tuple[4]

'b'

In [35]:
my_tuple[-1:]

('',)

In [36]:
my_tuple[:-1]

(1, 2, 3, 'a', 'b', True)

In [37]:
my_tuple[3]='apple'

TypeError: 'tuple' object does not support item assignment

In [39]:
my_tuple = ('a', 'b', ['apple', 'black'])

In [40]:
my_tuple[2] [1] = 'banana'

In [41]:
my_tuple

('a', 'b', ['apple', 'banana'])

In [42]:
my_tuple = ('a', 'b', ['apple', 'black'])

In [43]:
my_tuple [2] = 'hello'

TypeError: 'tuple' object does not support item assignment

In [44]:
my_tuple = (1, 2, 3, 'a', 'b', True, '',['a', 'b', True, 30.1])

In [46]:
my_tuple[7] [1] = 'banana'

In [47]:
my_tuple

(1, 2, 3, 'a', 'b', True, '', ['a', 'banana', True, 30.1])

In [48]:
my_tuple = (1, 2, 3, 'a', 'b', True, '',['a', 'b', True, 30.1])

In [54]:
my_tuple.count('a')

1

In [55]:
my_tuple = (1, 2, 3, 'a', 'b', True, '','a', 'b', True, 30.1)

In [56]:
my_tuple.count('a')

2

In [57]:
print('a' in my_tuple)

True

In [58]:
print('apple' not in my_tuple)

True

In [60]:
for i in my_tuple:
    print(f"Tuple value : {i}")

Tuple value : 1
Tuple value : 2
Tuple value : 3
Tuple value : a
Tuple value : b
Tuple value : True
Tuple value :
Tuple value : a
Tuple value : b
Tuple value : True
Tuple value : 30.1

In [113]:
my_dict = {'a':'apple', 'b':'banana', 'c':'cat', 'list':[1,2,3, "True"], 'tuple':(1,2,3,True)}

In [75]:
my_dict

{'a': 'apple',
 'b': 'banana',
 'c': 'cat',
 'list': [1, 2, 3, 'True'],
 'tuple': (1, 2, 3, True)}

In [103]:
my_dict['list']

[1, 2, 3, 'True']

In [114]:
my_dict.get('tuple')

(1, 2, 3, True)

In [115]:
my_dict['a'] = 'Address'

In [116]:
my_dict

{'a': 'Address',
 'b': 'banana',
 'c': 'cat',
 'list': [1, 2, 3, 'True'],
 'tuple': (1, 2, 3, True)}

In [117]:
my_dict.pop('tuple')

(1, 2, 3, True)

In [118]:
my_dict

{'a': 'Address', 'b': 'banana', 'c': 'cat', 'list': [1, 2, 3, 'True']}

In [119]:
my_dict.popitem()

('list', [1, 2, 3, 'True'])

In [120]:
my_dict

{'a': 'Address', 'b': 'banana', 'c': 'cat'}

In [65]:
my_dict = dict({1:'apple', 2:'banana'})

In [66]:
my_dict

{1: 'apple', 2: 'banana'}

In [71]:
my_dict = dict([(1,'apple'),(2,'banana')])

In [72]:
my_dict

{1: 'apple', 2: 'banana'}