In [5]:
#7
for i in range(5):
    for j in range(i):
        print(i, end='')

1223334444

In [22]:
#8
count = 0
for i in range(1,100):
    count += 1
    i *= 2
print(count)

99

In [13]:
#9
numbers = [1,2,3,4,5]
for i in range(len(numbers)):
    if i % 2 == 0:
        continue
    print(numbers[i])

2
4

In [14]:
total = 0
for i in range(5):
    for j in range(5):
        if i == j:
            total += i * j
print(total)

30

In [15]:
def strange_function(a,b):
    if a == 0:
        return b
    else:
        return strange_function(a-1,a+b)
result = strange_function(3,4)
print(result)

10

In [24]:
total = 0
for i in range(5):
    for j in range(5):
        if i == j:
            break
            total += i * j
print(total)

0

In [18]:
def foo(x):
    return x * 2

def bar(x):
    return foo(x +2)
def baz(x):
    return bar(x -2)
result = baz(3)
print(result)

6

In [19]:
numbers = [1,2,3,4,5]
total = 0

for num in numbers:
    total += num
    if num == 3:
        break
else:
    total = 100
print(total)

6

In [25]:
my_tuple = (1,2,3,4,5,"hello")

In [26]:
my_tuple

(1, 2, 3, 4, 5, 'hello')

In [28]:
type(my_tuple)

tuple

In [46]:
a = 20
list_a = []
for i in range(1, a+1):
    if a%i==0:
        #print(i,"", end='')
        list_a.append(i)
print(list_a)

[1, 2, 4, 5, 10, 20]

In [47]:
b = 15
list_b = []
for j in range(1, b+1):
    if b%j==0:
        #print(j,"",end='')
        list_b.append(j)
print(list_b)

[1, 3, 5, 15]

In [38]:
result = set(list_a) & set(list_b)
print(max(result))

5

In [41]:
a = int(input("Insert your 1st value :"))
list_a = []
for i in range(1, a+1):
    if a%i==0:
        print(i,"", end='')
        list_a.append(i)
print(list_a)

Insert your 1st value :20
1 2 4 5 10 20 [1, 2, 4, 5, 10, 20]

In [42]:
b = int(input("Insert your 2nd value :"))
list_b = []
for j in range(1, b+1):
    if b%j==0:
        print(j,"",end='')
        list_b.append(j)
print(list_b)

Insert your 2nd value :31
1 31 [1, 31]

In [44]:
result = set(list_a) & set(list_b)
print(max(result))

1